$colors: (
  main-light-color: #fff,
  main-dark-color: #000,
  main-font-color: #222,
  contents-bg-color: #ddd,
  awards-bg-color: #1a1f24,
  bars-bg-color: #dc143c,
  sub-font-color: #999,
  btn-bg-color: #bbb,
  btn-hover-bgolor: #31c0ce,
);
$fonts: (
  montserrat-font-family: "Montserrat",
  manrope-font-family: "Manrope",
  sans3-font-family: "Source Sans 3",
  overpass-font-family: "Overpass",
);
