* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    background-color: #000;
    color: #fff;
  }
  #toggle_btn {
    position: fixed;
    top: 50px;
    right: 50px;
    button {
      border: none;
      padding: 5px 10px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  #contents {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 18px;
    padding: 30px;
    line-height: 200%;
  }
}
