@import "./reset";
@import "./variables";

@mixin buttonStyle {
  margin-bottom: 12px;
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 8px;
  line-height: 45px;
  font-size: 1.17rem;
  color: map-get($contents-Colors, textColor);
  position: relative;
  z-index: 2;
}
@mixin headerStyle {
  background-color: map-get($contents-Colors, lightColor);
  width: 100%;
  height: 142px;
  position: relative;
  z-index: 2;
  h4 {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.17rem;
    font-weight: lighter;
  }
  p {
    font-size: 1.47rem;
    position: absolute;
    left: 0;
    bottom: 0;
    span {
      font-weight: bold;
    }
  }
}
@mixin filterTemplate {
  content: "";
  position: absolute;
  width: 428px;
  height: 439px;
  background: linear-gradient(
    to bottom,
    map-get($contents-Colors, lightColor) 78%,
    transparent
  );
  left: 0;
  z-index: 1;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  main {
    // common
    width: 428px;
    height: 926px;
    box-shadow: 4px 4px 8px rgba($color: #000, $alpha: 0.6);
    padding: 60px 34px;
    .btn {
      @include buttonStyle;
    }
    // index
    &.indexBg {
      background: map-get($contents-Colors, bgColor);
      #topContents {
        text-align: center;
        img {
          margin-bottom: 30px;
        }
        h4 {
          font-size: 1.17rem;
          font-weight: lighter;
          span {
            font-weight: bold;
          }
        }
      }
      #snsLogo {
        margin: 200px 0;
        text-align: center;
        h4 {
          font-size: 0.94rem;
          font-weight: lighter;
          color: map-get($contents-Colors, subColor);
        }
        ul {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }
      }
      #bottomContents {
        .btn {
          background-color: map-get($contents-Colors, btnColor);
        }
        #userSearch {
          text-align: center;
          color: map-get($contents-Colors, textColor);
          font-size: 1.17rem;
          span {
            cursor: pointer;
            &:first-child {
              margin-right: 78px;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 14px;
                right: -40px;
                top: 25%;
                background-color: map-get($contents-Colors, textColor);
              }
            }
          }
        }
      }
    }
    // intro
    &.introBg {
      header {
        @include headerStyle();
      }
      section {
        margin: 50px 0 106px;
        width: 100%;
        text-align: center;
        img {
          width: 60%;
        }
      }
      footer {
        .btn {
          margin-top: 10px;
          @include buttonStyle();
          background-color: map-get($contents-Colors, bgColor);
        }
      }
    }
    // friends
    &.friendsBg {
      position: relative;
      header {
        @include headerStyle;
        height: 172px;
      }
      section {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .slides {
          li {
            text-align: center;
            a {
              font-size: 2.35rem;
            }
          }
        }
      }
      &::before {
        @include filterTemplate;
        top: 0;
      }
      &::after {
        @include filterTemplate;
        bottom: 0;
        transform: rotate(180deg);
      }
      footer {
        .buttons {
          width: 100%;
          position: absolute;
          bottom: 75px;
          display: flex;
          gap: 12px;
          .btn {
            width: 174px;
            background-color: map-get($contents-Colors, bgColor);
            &:first-child {
              background-color: map-get($contents-Colors, btnColor);
            }
          }
        }
      }
    }
  }
}
